<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
      <style>
    body {
      background-color: #E4E9FD;
      background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
      min-height: 1000px;
      font-family: 'helvetica neue';
    }

    h1 {
      color: maroon;
      margin-left: 40px;
    }
    p{
      margin-left: 50px;
      font-size: 30px;
    }
    a{
      margin-left: 50px;
    }
    hr{
      border: 1px dashed #000;
    }


    </style
  </head>
  <body>
      <div class="home">
        <div>
          <h1>Basic Crud Operations And authentication</h1>
          <p>
            Application to implement CRUD functionality and authentication
          </p>
          <hr>
          <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
          <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
        </div>
      </div>



  </body>
</html>
